/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-04-26, 15:09:21
    Author     : Krzysiek
*/

.navbar a{
        color: #bd2130;
}
/*
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/